*.core
*.dSYM
*.diff
*.o
*.lo
*.patch
*.swp
.idea/
*~
.deps/
.libs/
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
m4/
cmd-parse.c
compat/.dirstamp
config.log
config.status
configure
core
etc/
fuzz/*-fuzzer
tags
tmux
tmux.1.*


# Added by cargo

/target
libtool
libtmux.la
regress/test_result_*
